VUE_APP_API_URL=https://dev.www.soundstage.fm
VUE_APP_SERVER_URL=wss://vr.soundstage.fm/vrspace
VUE_APP_DEMO_CONFIG={"event_slug":"aras-dev-space","alias":"Ara","role":"staff","permissions":{"access_backstage":true,"spawn_backstage":false,"access_ramp":true,"broadcast":true,"moderator":true, "stage_controls": true},"mediaSoup":{"url":"wss:\/\/mediasoup.soundstage.fm"},"highFidelity":{"url":"api-pro.highfidelity.com","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBfaWQiOiJmMzRlZmViZC00YWRjLTRlZTMtOWNkNS0yOGE3OTcwOThhZmQiLCJzcGFjZV9pZCI6IjRhMTgwYjJkLTc0YTQtNGE1OS05NjMwLWQyYjQ4N2M2OTEyZiIsInN0YWNrIjoiYXVkaW9uZXQtbWl4ZXItYXBpLXByby0wNCJ9.aP5zs-UGA01L8Ebe9R_-OXFfjm4msVZECuGvM7MZ64g"}}
VUE_APP_SKIP_WELCOME=true